
*{
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
   
}

// ---------------TOP-HEADER---------------------
.top-header{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    
    

    .HM-logga{
        height: 100px;
        width: 165px;
        margin-top: 10px;
    }


    .link-left-header li{
        
        list-style: none;  
      }
    .link-left-header{
      display: flex;
      flex-direction: row;
       margin-top: 35px;

      .nav-link{
        margin-right: 20px;
      }

      a{
        color: black;
      }

      a:hover{
        text-decoration: underline;
      }
      
    }



    .header-button-icons {
        margin-right: 40px;
        display: inline-block;
        position: relative;
        margin-top: 40px;

       button {
        margin-left: 10px;
        border:none;
        background-color: white;
        
       }

       a{
        color: black;
        text-decoration: none;
       }

       a:hover{
        text-decoration: underline;
       }
 }

   


.bi {
   color: black;
}

    .bi:hover{
        color: red;
    }

    .nav-list li {
        list-style: none;
    }
}

//--------------NAV-HEADER--------------------

.nav-header{
    position: relative;

.mega-box{
    position: absolute;
    top:50px;
    width: 100%;
    left: 0;
    visibility: hidden;
    font-size: 15px;
    

}

.mega-box .content {
   display: flex;
   padding:25px 20px;
   justify-content: center;
}

.content .row {
     width: calc(20% - 30px);
    line-height: 50px;
    margin-left:10px;
}

.content .row p{
font-size: 17px;
background-color: pink;

}



.row p .mega-links li a { 
padding: 0 20px; 
display: block; 
} 



.nav-list li:hover .mega-box{ 
 top:25px; 
 opacity: 1; 
 visibility: visible; 
 } 


.nav-list li{
        
    list-style: none;  
  }
.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.1rem;

    .nav-item{
        margin-left: 30px;
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: black;
        text-decoration: underline;
    }

    .search-form {
        margin-left: 25px;
        
        
        .sökfält{
           border: none;
           text-decoration: underline;

        }

        .sökfält:hover fieldset{
            border: none;
        }

        input:focus, input:hover, 
        select:focus, select:hover {
        outline: none;
        border: none;
    
}

        
    }

}


}