@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Didact Gothic", sans-serif;
  background-color: #faf9f8;
}

.top-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.top-header .drop-menu li {
  list-style: none;
  text-align: left;
}
.top-header .link-left-header li:hover .drop-menu {
  top: 65px;
  opacity: 1;
  visibility: visible;
}
.top-header .link-left-header .drop-menu li a:hover {
  background-color: beige;
  width: 100%;
}
.top-header .link-left-header .drop-menu li a {
  background-color: white;
}
.top-header .drop-menu li a {
  width: 100%;
  display: block;
}
.top-header .link-left-header .drop-menu {
  background-color: white;
  width: 150px;
  line-height: 30px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
.top-header .link-left-header .drop-menu a {
  text-decoration: none;
  color: black;
}
.top-header .HM-logga {
  height: 100px;
  width: 165px;
  margin-top: 10px;
}
.top-header .link-left-header li {
  list-style: none;
}
.top-header .link-left-header {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}
.top-header .link-left-header .nav-link {
  margin-right: 20px;
}
.top-header .link-left-header a {
  color: black;
}
.top-header .link-left-header a:hover {
  text-decoration: underline;
}
.top-header .header-button-icons {
  margin-right: 40px;
  display: inline-block;
  position: relative;
  margin-top: 40px;
}
.top-header .header-button-icons button {
  margin-left: 10px;
  border: none;
  background-color: white;
}
.top-header .header-button-icons a {
  color: #222222;
  text-decoration: none;
}
.top-header .header-button-icons a:hover {
  text-decoration: underline;
}
.top-header .bi {
  color: #222222;
}
.top-header .bi:hover {
  color: red;
}
.top-header .nav-list li {
  list-style: none;
}

.nav-header {
  position: relative;
}
.nav-header .mega-box {
  position: absolute;
  top: 50px;
  width: 100%;
  left: 0;
  visibility: hidden;
  font-size: 15px;
  background-color: pink;
}
.nav-header .mega-box .content {
  display: flex;
  padding: 25px 20px;
  justify-content: center;
}
.nav-header .content .row {
  width: calc(20% - 10px);
  line-height: 40px;
  margin-left: 10px;
  margin-top: 0;
}
.nav-header .content .row span {
  font-size: 17px;
}
.nav-header .row span .mega-links li a {
  padding: 0 20px;
  display: block;
}
.nav-header .nav-list li:hover .mega-box {
  top: 25px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3 ease;
}
.nav-header .nav-list li {
  list-style: none;
}
.nav-header .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  font-size: 1.1rem;
}
.nav-header .nav-list .nav-item {
  margin-left: 30px;
}
.nav-header .nav-list a {
  text-decoration: none;
  color: #222222;
}
.nav-header .nav-list a:hover {
  color: #222222;
  text-decoration: underline;
}
.nav-header .nav-list .search-form {
  margin-left: 25px;
}
.nav-header .nav-list .search-form .sökfält {
  border: none;
  text-decoration: underline;
}
.nav-header .nav-list .search-form .sökfält:hover fieldset {
  border: none;
}
.nav-header .nav-list .search-form input:focus, .nav-header .nav-list .search-form input:hover,
.nav-header .nav-list .search-form select:focus, .nav-header .nav-list .search-form select:hover {
  outline: none;
  border: none;
}

.footer {
  background-color: #e4e4e4;
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100%;
  bottom: 0;
}
.footer .footer-innehåll {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 70px;
}
.footer .innehållFooter {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
}
.footer .footer-a {
  color: black;
  text-decoration: none;
  padding: 5px;
  font-size: 11px;
}
.footer .footer-h2 {
  font-size: 11px;
  font-weight: bold;
}
.footer .footerText {
  font-size: 11px;
  text-align: center;
}
.footer .footer-ikoner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 50px;
  justify-content: space-around;
  padding-left: 450px;
  padding-right: 450px;
}
.footer .footerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  font-size: 13px;
}/*# sourceMappingURL=style.css.map */