@use"./partails/header";
@use"./partails/footer";

*{
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
    border: none;
    
}



.main {
    background-color: #FAF9F8;
    margin: 0;
    padding: 0; 
    background-color: #faf9f8;

    p {
        text-align: center;
        font-size: 13px;
    }
        // stora 3 bilderna
        .bild1, .bild2, .bild3 {
            width: 960px;
            padding-top: 24px;
            padding-bottom: 24px;
            margin: 0 auto 0 auto;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
                    

            .buy1 {
                position: absolute;
                display: flex;
                // z-index: 2;
                top: 615px;
                background-color: transparent;
                border: none;
                font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 13px;
                font-weight: bold;
               
            }
            .buy2, .buy3 {
                position: absolute;
                display: flex;
                // z-index: 2;
                top: 585px;
                background-color: transparent;
                border: none;
                font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                font-size: 13px;
                font-weight: bold;
            }
            a:link { 
                text-decoration: none;
            }
            a:visited { 
                text-decoration: none; 
                color: #222222;
            }
            a:hover { 
                text-decoration: none; 
                background-color: rgb(237, 237, 237);
               
            }
        }
        // gula bannern
        .banner {
            font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            width: 960px;
            height: 143px;
            background-color: #F1EBDF;
            padding-bottom: 50px;
            margin: 0 auto 50px auto;

            h3 {
                
                color: #E50010;
                font-size: 28px;
                font-weight: bold;
                text-align: center;
                padding: 22px 60px 0px;
            }

            p {
                color: #222222;
                font-size: 11px;
                text-align: center;
            }

            .b-banner {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-right: 45px;    
               
                .links {
                    display: block;
                    border: 1px solid #222222;
                    margin: 0px 6px 0px 6px;
                    
                }

                .b-link {
                    display: flex;
                    color: #222222;
                    font-size: 13px;
                    font-weight: bold;
                    padding-left: 6px;
                    padding-right: 6px;
                    padding-top: 2px;
                    padding-bottom: 2px;
                }

                a:link { 
                    text-decoration: none;
                }
                a:visited { 
                    text-decoration: none; 
                }
                a:hover { 
                    text-decoration: underline; 
                }
            }
        }
    // runda slide
    .parent {
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 400px; */
        background-color: #FAF9F8;
        width: 960px;
        padding-top: 24px;
        padding-bottom: 24px;
        margin: 0 auto 0 auto;
        position: relative;
        flex-direction: row;
        
            
        .child{
            width: 20%;
            margin-left: 10px;
            margin-right: 10px;
            display: none;
        
            .rund-bild-text-b {
                font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                color: #707070;
                font-size: 13px;
                font-weight: bold;
                text-align: center;     
                
                p {
                    font-family: 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                    font-size: 13px;
                    text-align: center;
                }
                    a:link { 
                        text-decoration: none;
                    }
                    a:visited { 
                        text-decoration: none; 
                        color: #222222;
                    }
                    a:hover { 
                        text-decoration: none;           
                    } 
            }
        }
         
        #leftarrow, #rightarrow {
            margin-left: 12px;
            width: 10%;
            display: inline-block;
        }
    
        #leftarrow button, #rightarrow button {
            cursor: pointer;
              
        }
        .arrow-button{
            border: none;
            background-color: #FAF9F8;
        }        
    }
}