@charset "UTF-8";
header {
  background-color: #FAF9F8;
}
header .top-header {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
header .top-header .drop-menu li {
  list-style: none;
  text-align: center;
}
header .top-header .link-left-header ul {
  margin: 0;
  padding: 0;
}
header .top-header .link-left-header li:hover .drop-menu {
  top: 55px;
  opacity: 1;
  visibility: visible;
}
header .top-header .link-left-header .drop-menu li a:hover {
  background-color: #f4eddd;
  width: 100%;
  height: 100%;
}
header .top-header .link-left-header .drop-menu li a {
  background-color: white;
}
header .top-header .drop-menu li a {
  width: 100%;
  display: block;
}
header .top-header .link-left-header .drop-menu {
  width: 150px;
  line-height: 30px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
}
header .top-header .link-left-header .drop-menu a {
  text-decoration: none;
  color: black;
}
header .top-header .HM-logga {
  height: 80px;
  width: 90px;
  margin-top: 10px;
}
header .top-header .link-left-header li {
  list-style: none;
}
header .top-header .link-left-header {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
}
header .top-header .link-left-header .nav-link {
  margin-right: 20px;
}
header .top-header .link-left-header a {
  color: black;
}
header .top-header .link-left-header a:hover {
  text-decoration: underline;
}
header .top-header .header-button-icons {
  margin-right: 40px;
  display: inline-block;
  position: relative;
  margin-top: 40px;
}
header .top-header .header-button-icons button {
  margin-left: 10px;
  border: none;
  background-color: #FAF9F8;
}
header .top-header .header-button-icons a {
  color: #222222;
  text-decoration: none;
}
header .top-header .header-button-icons a:hover {
  text-decoration: underline;
}
header .top-header .bi {
  color: #222222;
}
header .top-header .bi-three-dots:hover {
  color: red;
}
header .top-header .nav-list li {
  list-style: none;
}
header .nav-header {
  position: relative;
  padding-bottom: 20px;
  position: relative;
  z-index: 1;
}
header .nav-header .mega-box {
  position: absolute;
  top: 50px;
  width: 100%;
  left: 0;
  visibility: hidden;
  font-size: 15px;
  background-color: #FAF9F8;
}
header .nav-header .mega-box .content {
  display: flex;
  padding: 25px 20px;
  justify-content: center;
}
header .nav-header .content .row {
  width: calc(20% - 10px);
  line-height: 40px;
  margin-left: 10px;
  margin-top: 0;
}
header .nav-header .content .row span {
  font-size: 17px;
}
header .nav-header .row span .mega-links li a {
  padding: 0 20px;
  display: block;
}
header .nav-header .nav-list li:hover .mega-box {
  top: 25px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3 ease;
}
header .nav-header .nav-list li {
  list-style: none;
}
header .nav-header .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  font-size: 1.1rem;
}
header .nav-header .nav-list .nav-item {
  margin-left: 30px;
}
header .nav-header .nav-list a {
  text-decoration: none;
  color: #222222;
}
header .nav-header .nav-list a:hover {
  color: #222222;
  text-decoration: underline;
}
header .nav-header .nav-list .search-form {
  margin-left: 25px;
}
header .nav-header .nav-list .search-form .sökfält {
  border: none;
  text-decoration: underline;
  background-color: #FAF9F8;
}
header .nav-header .nav-list .search-form .sökfält:hover fieldset {
  border: none;
}
header .nav-header .nav-list .search-form input:focus, header .nav-header .nav-list .search-form input:hover,
header .nav-header .nav-list .search-form select:focus, header .nav-header .nav-list .search-form select:hover {
  outline: none;
  border: none;
}

.footer {
  background-color: #e4e4e4;
  font-family: "Sans Regular", "Sans Semi Bold", "Sans Bold";
  width: 100%;
  bottom: 0;
  color: #222222;
}
.footer .footer-innehåll {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 70px;
}
.footer .innehållFooter {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #222222;
}
.footer .footer-a {
  color: black;
  text-decoration: none;
  padding: 5px;
  font-size: 11px;
}
.footer .footer-a:hover {
  text-decoration: underline;
}
.footer .footer-h2 {
  font-size: 11px;
  font-weight: bold;
}
.footer .footerText {
  font-size: 11px;
  text-align: center;
}
.footer .footer-ikoner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-top: 50px;
  justify-content: space-around;
  padding-left: 450px;
  padding-right: 450px;
}
.footer .ikon-a {
  color: #222222;
}
.footer .footerLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  font-size: 13px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Didact Gothic", sans-serif;
}

.main {
  background-color: #FAF9F8;
  margin: 0;
  padding: 0;
  background-color: #faf9f8;
}
.main p {
  text-align: center;
  font-size: 13px;
}
.main .bild1, .main .bild2, .main .bild3 {
  width: 960px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0 auto 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main .bild1 .buy1, .main .bild2 .buy1, .main .bild3 .buy1 {
  position: absolute;
  display: flex;
  top: 615px;
  background-color: transparent;
  border: none;
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: bold;
}
.main .bild1 .buy2, .main .bild1 .buy3, .main .bild2 .buy2, .main .bild2 .buy3, .main .bild3 .buy2, .main .bild3 .buy3 {
  position: absolute;
  display: flex;
  top: 585px;
  background-color: transparent;
  border: none;
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: bold;
}
.main .bild1 a:link, .main .bild2 a:link, .main .bild3 a:link {
  text-decoration: none;
}
.main .bild1 a:visited, .main .bild2 a:visited, .main .bild3 a:visited {
  text-decoration: none;
  color: #222222;
}
.main .bild1 a:hover, .main .bild2 a:hover, .main .bild3 a:hover {
  text-decoration: none;
  background-color: rgb(237, 237, 237);
}
.main .banner {
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 960px;
  height: 143px;
  background-color: #F1EBDF;
  padding-bottom: 50px;
  margin: 0 auto 50px auto;
}
.main .banner h3 {
  color: #E50010;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  padding: 22px 60px 0px;
}
.main .banner p {
  color: #222222;
  font-size: 11px;
  text-align: center;
}
.main .banner .b-banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 45px;
}
.main .banner .b-banner .links {
  display: block;
  border: 1px solid #222222;
  margin: 0px 6px 0px 6px;
}
.main .banner .b-banner .b-link {
  display: flex;
  color: #222222;
  font-size: 13px;
  font-weight: bold;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
}
.main .banner .b-banner a:link {
  text-decoration: none;
}
.main .banner .b-banner a:visited {
  text-decoration: none;
}
.main .banner .b-banner a:hover {
  text-decoration: underline;
}
.main .parent {
  width: 960px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0 auto 0 auto;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main .parent .rund-bild-text-b {
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #707070;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
}
.main .parent .rund-bild-text-b p {
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 13px;
  text-align: center;
}
.main a:link {
  text-decoration: none;
}
.main a:visited {
  text-decoration: none;
  color: #222222;
}
.main a:hover {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */