* {
    margin: 0;
    padding: 0;
    font-family: 'Didact Gothic', sans-serif;
    border: none;
}
// <!-- sidoMeny start -->


main {

    background-color:#FAF9F8 ;
    padding-bottom: 100px;

    .dam-länk-top{
        background-color: #FAF9F8;
        text-align: center;
        margin: 16px;
        margin-top: 0;
        a{
            text-decoration: none;
            color:black;
            font-size: 12.008px;
        }
    
        a:hover{
            color: red;
        }
    
        span {
            font-size: 12.008px;
        }
    
     }

   .main {
        display: flex;
        flex-direction: row;

        
    
   
        .page-sidebar {

            display: flex;
            flex-direction: column;

        .list-group-tilte {
            margin-left: 32px;
            font-size: 16px;
        }

        li {
            list-style: none;
        
        }

    a{
        text-decoration: none;
        list-style: none;
        color: black;
        font-size: 13px;
        
    }
    a:hover{
      text-decoration: underline;
      color: red;
    }

}
// <!-- sidoMeny slut -->

    // <!-- sidoMeny slut -->
    // <!-- innehåll main start  -->
    section {
        margin: 0;
        padding: 0;

        .bild1, .bild2, .bild3 {
            width: 960px;
            padding-top: 24px;
            padding-bottom: 24px;
            margin: 0 auto 0 auto;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;                    

            .buy1 {
                position: absolute;
                display: flex;
                // z-index: 2;
                top: 200px;
                right: 560px;
                background-color: transparent;
                border: none;
                font-size: 13px;
                font-weight: bold;
           
            }
            .buy1a {
                position: absolute;
                display: flex;
                // z-index: 2;
                top: 460px;
                right: 388px;
                background-color: transparent;
                border: none;
                font-size: 13px;
                font-weight: bold;
           
            }

            .buy2 {
                position: absolute;
                display: flex;
                // z-index: 2;
                top: 400px;
                background-color: transparent;
                border: none;
                font-size: 13px;
                font-weight: bold;

                a:link { 
                    text-decoration: none;
                    color: #FFFFFF;
                }
                a:hover { 
                    text-decoration: none; 
                    background-color: rgb(175, 175, 175);
                }
                a:hover { 
                    text-decoration: underline; 
                    background-color: rgb(175, 175, 175);
                }
            }

            .buy3 {
                position: absolute;
                display: flex;
                // z-index: 2;
                top: 300px;
                background-color: transparent;
                border: none;
                font-size: 13px;
                font-weight: bold;
            }
        
            a:link { 
                text-decoration: none;
                color: #222222;
            }
            a:visited { 
                text-decoration: none; 
                color: #222222;
            }
            a:hover { 
                text-decoration: none; 
                background-color: rgb(237, 237, 237);
            }
        }

        #more {
            display: none;
        }

            .Read-more-button{
                text-align: center;

                h1{
                    font-size: 40px;
                }
                #myBtn{
                    background-color: #FAF9F8;
                    font-size: 13px;
                }
                #myBtn:hover{
                    text-decoration: underline;
                }
            }

         // read-More slut
    }
}
    



// <!-- innehåll main slut  -->

// read-More


